/* MAIN */
body {
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Nanum Gothic", sans-serif;
}

img {
  display: block;
  border-radius: 10px;
}

a {
  text-decoration: none;
  display: block;
}

a.logo {
  width: 300px;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.inner {
  width: 1500px;
  position: relative;
  margin: 0 auto;
}
